@model KidsFashion.Models.PedidoViewModel

@{
    ViewData["Title"] = "Cadastro de Pedido";
}

<div class="container">
    <h1 class="display-4 text-center">Cadastro de Pedido</h1>

    <br />

    @using (Html.BeginForm("Submit", "Pedido", FormMethod.Post, new { id = "formPedido" }))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- Cliente e DataPedido -->
        <div class="form-group row">
            <div class="col-md-8 mb-4">
                <label for="Cliente_Id" class="form-label">@Html.DisplayNameFor(model => model.Cliente)</label>
                @Html.DropDownListFor(model => model.Cliente_Id, Model.ClienteOptions, "Selecione um Cliente", new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Cliente_Id, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4 mb-4">
                <label for="DataPedido" class="form-label">@Html.DisplayNameFor(model => model.DataPedido)</label>
                @Html.TextBoxFor(model => model.DataPedido, new { @class = "form-control", @type = "date", @required = "required" })
                @Html.ValidationMessageFor(model => model.DataPedido, "", new { @class = "text-danger" })
            </div>
            
        </div>


        <!-- Produto e Quantidade -->
        <div class="form-group row">
            <div class="col-md-7 mb-4">
                <label for="Produto_Id" class="form-label">@Html.DisplayNameFor(model => model.Produto)</label>
                @Html.DropDownListFor(model => model.Produto_Id, Model.ProdutoOptions, "Selecione um Produto", new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Produto_Id, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4 mb-4">
                <label for="Quantidade" class="form-label">@Html.DisplayNameFor(model => model.Quantidade)</label>
                @Html.TextBoxFor(model => model.Quantidade, new { @class = "form-control", @required = "required", id = "Quantidade" })
                @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1 mb-4">
                <button type="submit" class="btn btn-success" style="margin-left: 15px;">Adicionar Produto</button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PedidoProdutos)
                {
                    <tr style="vertical-align: middle;">
                        <td>@item.Produto.Nome</td>
                        <td>@item.Quantidade</td>
                    </tr>
                }
            </tbody>
        </table>


        <!-- Botões de Ação -->
        <div class="row" style="margin-top: 10px;">
            <div class="col d-flex justify-content-end">
                <a href="@Url.Action("Index", "Pedido")">
                    <button type="button" class="btn btn-secondary">Voltar</button>
                </a>
                <button type="submit" class="btn btn-success" style="margin-left: 15px;">Cadastrar</button>
            </div>
        </div>
    }
</div>
